* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 300px;
    height: 300px;
    color: white;
}

.imagen {
    display: flex;
    justify-items: center;
    width: 100%;
    height: 100%;
}

#uno {
    
    background-color: cadetblue;
    position: relative;
    top: 150px;
}

#dos {
    font-size: 18px;
    background-color: cornflowerblue;
    width: 150px;
    height: 100px;
    position: relative;
    top: 100px;
    right: 225px;
}