/*
¿Cómo se controla el orden al declarar CSS?

Importancia
1.- Hoja de estilos de agente del usuario (estilos del navegador).
2.- Declaraciones normales en hojas de estilo de autor (nombre.css).
3.- Declaraciones importantes en hojas de estilo del autor (utilizar el !important).

Orden de las fuentes
En tus estilos, las declaracione al final del documento anularán a las que sucedan antes en caso de conflicto.
*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: serif;
    color: purple;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .blog {
    background-color: red;
}