* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex-basis: 10rem;
    flex-grow: 1;
    height: 10rem;
}

.box1 {
    background-color: antiquewhite;
}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: blueviolet;
}

.box4 {
    background-color: brown;
}

.box5 {
    background-color: chartreuse;
}

.box6 {
    background-color: crimson;
}